<h2>Cart:</h2>

<ng-container *ngIf="addedProducts.length > 0; else emptyCart">
  <app-cart-item
    *ngFor="let product of addedProducts; trackBy: trackByItems"
    appHighlight
    [cartProduct]="product"
    (removeOneItem)="removeOneItem($event)"
    (addOneItem)="addOneItem($event)"
    (removeAll)="removeAll($event)"
  ></app-cart-item>

  <div>
    <h5>Details:</h5>
    <p>Total products - {{totalProducts}}</p>
    <p>Total price - {{totalPrice}}</p>
  </div>
</ng-container>


<ng-template #emptyCart>
  Cart is empty. You can buy something from the products list to see it here.
</ng-template>
